# Ignore everything
*

# But not these files
!.gitignore
!ConferencePosters/
!ConferencePosters/*
!ConferenceTalks/
!ConferenceTalks/*
!CV/HamiltonCV.pdf
!CV/HamiltonCV.tex
!Teaching/HamiltonTeachingPhilosophy.pdf